@page
@model KoiCareSystemAtHome.WebApplication.Pages.LoginPage.logoutModel
@{
    Layout = "_LoginLayout";
}

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0" style="background-image: url('/images/7792008.jpg'); background-size: cover; background-position: center;">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                        </div>
                        <div class="col-lg-6" style="background-color: rgba(0, 0, 0, 0.5)">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-white mb-4">Bạn có chắc chắn muốn đăng xuất?</h1>
                                </div>
                                <!-- Logout form -->
                                <form class="user" method="post" asp-page-handler="Logout">
                                    <div>
                                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Đăng xuất" />
                                    </div>
                                </form>
                                <hr />
                                <div class="text-center">
                                    <a class="small text-white" asp-page="/Index">Go to Home Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
