@page
@model KoiIndexModel
@{
    ViewData["Title"] = "KoiFish";
}
@{
    Layout = "_KoiLayout";
}

<h1>Danh sách Cá Koi</h1>
<div class="koi-list">
    <div class="koi-card">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSakglHadeFErwEDXkMoDdZ65qYlUU4Sdi5TmYa2nxygOn2aOlJM5ZuqnS3d40OkxVvgHvJfthC6J92zbaWxXMEH-lCNNC5L6najVM5UA" alt="Hình ảnh Cá Koi">
        <h2>Cá Koi Kohaku</h2>
        <p>Loại cá Koi phổ biến với màu đỏ và trắng.</p>
        <span>Tuổi: 2 năm</span>
        <span>Chiều dài: 30 cm</span>
    </div>
    <div class="koi-card">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSakglHadeFErwEDXkMoDdZ65qYlUU4Sdi5TmYa2nxygOn2aOlJM5ZuqnS3d40OkxVvgHvJfthC6J92zbaWxXMEH-lCNNC5L6najVM5UA" alt="Hình ảnh Cá Koi">
        <h2>Cá Koi Kohaku</h2>
        <p>Loại cá Koi phổ biến với màu đỏ và trắng.</p>
        <span>Tuổi: 2 năm</span>
        <span>Chiều dài: 30 cm</span>
    </div>
    <div class="koi-card">
       <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSakglHadeFErwEDXkMoDdZ65qYlUU4Sdi5TmYa2nxygOn2aOlJM5ZuqnS3d40OkxVvgHvJfthC6J92zbaWxXMEH-lCNNC5L6najVM5UA" alt="Hình ảnh Cá Koi">
        <h2>Cá Koi Kohaku</h2>
        <p>Loại cá Koi phổ biến với màu đỏ và trắng.</p>
        <span>Tuổi: 2 năm</span>
        <span>Chiều dài: 30 cm</span
    </div>
    <!-- Thêm nhiều thẻ koi-card cho các cá Koi khác -->
</div>