@page
@model CreateCategoryModel
@{
    ViewData["Title"] = "Tạo danh mục mới";
}

<h2>Tạo danh mục mới</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Category.Name" class="control-label"></label>
        <input asp-for="Category.Name" class="form-control" />
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Tạo mới</button> |
    <a asp-page="./Index" class="btn btn-secondary">Hủy</a>
</form>