@page "{id:int}"
@model DeleteCategoryModel
@{
    ViewData["Title"] = "Xóa danh mục";
}

<h2>Xóa danh mục</h2>

<h3>Bạn có chắc chắn muốn xóa danh mục này?</h3>
<div>
    <h4>@Model.Category.Name</h4>
    <form method="post">
        <button type="submit" class="btn btn-danger">Xóa</button> |
        <a asp-page="./Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>