@page
@model KoiCareSystemAtHome.WebApplication.Pages.FeedingSchedulePages.EditModel

<h4>FeedingSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeedingSchedule.FeedingScheduleId" />
            <div class="form-group">
                <label asp-for="FeedingSchedule.FeedingTime" class="control-label"></label>
                <input asp-for="FeedingSchedule.FeedingTime" class="form-control" />
                <span asp-validation-for="FeedingSchedule.FeedingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedingSchedule.RequiredFoodAmount" class="control-label"></label>
                <input asp-for="FeedingSchedule.RequiredFoodAmount" class="form-control" />
                <span asp-validation-for="FeedingSchedule.RequiredFoodAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedingSchedule.FoodType" class="control-label"></label>
                <input asp-for="FeedingSchedule.FoodType" class="form-control" />
                <span asp-validation-for="FeedingSchedule.FoodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
